*{
    margin : 0;
    padding: 0;
    box-sizing: content-box;
    

}
body{
    background-color:rgb(0, 0, 0);
    font-family: sans-serif ;
    
}

/* HEADER */
header {
    justify-content: center;
    display: flex;
    padding: 10px;
    background-color:rgb(0, 0, 0);

}
header img {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.login-pedido li{
    list-style: none;
    padding: left 5px;
    display: inline-block;

}

.menu li{ 
    list-style: none;
    padding: 20px;
    display: inline-block;
    margin-right:10px;
    margin-top: 20px;
    

}
 ul li a{ 
    text-decoration: none;
    color: #ffffff;
    
 }


.text-imagem{
    position: absolute; /* Posiciona o texto sobre a imagem */
    color: white;
    display: flex;
    top: 30%;
      
}

.text-imagem button{
    background-color: #ff983e;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    width:100px ;
    height: 20px;
    padding: 10px 20px;
    cursor: pointer; 
    display: flex;
    
}




.img-fundoinicial{
    width: 100%;
    height: auto;
    background-image: url(fundopizza.png) ;
    background-size: cover;
    background-position: center;
    margin-left: 0px;
    display: block;
    margin: 0 auto; 
    object-fit: cover;
}